---
import Base from "@layouts/Base.astro";

const { id } = Astro.params;
const res = await fetch(`http://localhost:8080/v1/packs/${id}/assets`);
const assets = await res.json();
---

<Base title={`Pack ${id}`}>
  <div class="grid grid-cols-2 sm:grid-cols-4 gap-2">
    {assets.slice(20, 40).map((asset: any) => (
      <div class="border">
        <img class="object-top object-cover w-full h-[200px] max-h-[200px] border-b dark:bg-sky-950" src={`https://blueprintstore.blob.core.windows.net/assets/${asset.id}`}>
        <p class="break-words p-2">{asset.file_name}</p>
      </div>
    ))}
  </div>
</Base>
