---
import Editor from "@components/Editor";
import Base from "@layouts/Base.astro";

const initText = `{
    "canvas_size": [256, 256],
    "aliases": {
        "$perks": ["default-icons:Perks/**", "fancy-icons:Perks/DLC5/**"]
    },
    "layers": [
        {
            "use": "just-black-bg:perk.png"
        },
        {
            "use": "$perks"
        }
    ]
}`;
---

<Base title="Compositor">
  <h1 class="text-3xl mb-2">compositor</h1>
  <p class="mb-3">if you know what needs to go here, then go for it :)</p>
  <Editor client:only="preact" initValue={initText} />
</Base>
