---
import Base from "@layouts/Base.astro";
import { SignIn } from "auth-astro/components";

const callbackUrl = Astro.url.searchParams.get("redirect-uri");
---

<Base title="log in">
  <p>lol</p>
  <SignIn provider="discord" options={{ callbackUrl }}>
    Sign in with Discord
  </SignIn>
</Base>
