---
import UploadForm from "@components/UploadForm";
import Base from "@layouts/Base.astro";
---

<Base title="Upload">
  <h1 class="text-3xl mb-2">Upload a new asset pack</h1>
  <UploadForm client:load />
</Base>
