---
export type Dirs = { [K in string]: Dirs | {} };

interface Props {
    dirs: Dirs;
    class?: string;
}

const { dirs, class: className } = Astro.props;

const keys = Object.keys(dirs);
---

{
    keys.length > 0 && (
        <ul class:list={[className, "[li_&]:ml-5"]}>
            {Object.keys(dirs).map((key) => {
                const subdir = dirs[key];
                return (
                    <li>
                        <span class="dir inline-flex items-center gap-2">
                            {Object.keys(subdir).length > 0 && (
                                <>
                                    <svg
                                        class="w-3.5 h-3.5 text-gray-800 dark:text-white block [[data-disclosure-show]_>_span_>_&]:hidden"
                                        aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 8 14"
                                    >
                                        <path
                                            stroke="currentColor"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"
                                        />
                                    </svg>
                                    <svg
                                        class="w-3.5 h-3.5 text-gray-800 dark:text-white hidden [[data-disclosure-show]_>_span_>_&]:block"
                                        aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 14 8"
                                    >
                                        <path
                                            stroke="currentColor"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"
                                        />
                                    </svg>
                                </>
                            )}
                            {key}
                        </span>
                        <Astro.self
                            dirs={subdir}
                            class="hidden [[data-disclosure-show]_>_&]:block"
                        />
                    </li>
                );
            })}
        </ul>
    )
}

<script>
    const spans = document.querySelectorAll(".dir");
    for (const span of spans) {
        span.addEventListener("click", (e) => {
            span.parentElement?.toggleAttribute("data-disclosure-show");
        });
    }
</script>
