---
import { getSession } from "auth-astro/server";
import ProfileDropdown from "./ProfileDropdown.astro";
import { SignIn } from "auth-astro/components";
const session = await getSession(Astro.request);
---

<nav class="bg-white dark:bg-slate-900">
  <div class="flex flex-wrap items-center justify-between p-4">
    <div class="flex flex-wrap items-center justify-between gap-3">
      {
        session && (
          <button
            data-drawer-target="drawer-navigation"
            data-drawer-show="drawer-navigation"
            aria-controls="drawer-navigation"
            type="button"
            class="inline-flex items-center justify-center p-2 w-10 h-10 text-sm rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 17 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15"
              />
            </svg>
          </button>
        )
      }
      <a href="/" class="flex items-center gap-2">
        <svg
          class="w-6 h-6"
          version="1.1"
          viewBox="0 0 111.36 96.804"
          xml:space="preserve"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m14.613 0.058393a2.5002 2.5002 0 0 0-2.8319 1.449l-11.577 26.769a2.5002 2.5002 0 0 0-0.09147 1.7363l6.1541 19.715a2.5002 2.5002 0 0 0 2.1601 1.7441l38.305 3.4825c1.9255 0.17509 3.3814 1.7235 3.4375 3.6561l1.0294 35.578a2.5002 2.5002 0 0 0 2.5508 2.4278l55.16-1.1798a2.5002 2.5002 0 0 0 2.3632-3.1383l-9.6175-36.33 6.7541-32.705a2.5002 2.5002 0 0 0-1.91-2.9471zm-0.8537 59.492a2.5002 2.5002 0 0 0-2.127 4.1155l27.603 32.262a2.5002 2.5002 0 0 0 4.4008-1.6976l-0.86351-29.832a2.5002 2.5002 0 0 0-2.2732-2.4179z"
            fill="currentColor"
            stroke-linejoin="round"
          >
          </path>
        </svg>
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
          >dbd blueprint</span
        >
      </a>
    </div>
    <div class="flex items-center md:order-2 gap-3">
      <button
        id="theme-toggle"
        type="button"
        class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5"
      >
        <svg
          id="theme-toggle-dark-icon"
          class="hidden w-6 h-6"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
          ></path></svg
        >
        <svg
          id="theme-toggle-light-icon"
          class="hidden w-6 h-6"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
            fill-rule="evenodd"
            clip-rule="evenodd"></path></svg
        >
      </button>
      {
        session ? (
          <ProfileDropdown user={session.user!} />
        ) : (
          <SignIn class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Sign In
          </SignIn>
        )
      }
    </div>
  </div>
</nav>

<script>
  import { currentTheme } from "../themeStore.ts";

  var themeToggleDarkIcon = document.getElementById("theme-toggle-dark-icon")!;
  var themeToggleLightIcon = document.getElementById(
    "theme-toggle-light-icon",
  )!;

  // Change the icons inside the button based on previous settings
  if (
    localStorage.getItem("color-theme") === "dark" ||
    (!("color-theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    themeToggleLightIcon.classList.remove("hidden");
  } else {
    themeToggleDarkIcon.classList.remove("hidden");
  }

  var themeToggleBtn = document.getElementById("theme-toggle")!;

  themeToggleBtn.addEventListener("click", function () {
    // toggle icons inside button
    themeToggleDarkIcon.classList.toggle("hidden");
    themeToggleLightIcon.classList.toggle("hidden");

    // if set via local storage previously
    if (localStorage.getItem("color-theme")) {
      if (localStorage.getItem("color-theme") === "light") {
        document.documentElement.classList.add("dark");
        localStorage.setItem("color-theme", "dark");
        currentTheme.set("dark");
      } else {
        document.documentElement.classList.remove("dark");
        localStorage.setItem("color-theme", "light");
        currentTheme.set("light");
      }

      // if NOT set via local storage previously
    } else {
      if (document.documentElement.classList.contains("dark")) {
        document.documentElement.classList.remove("dark");
        localStorage.setItem("color-theme", "light");
        currentTheme.set("light");
      } else {
        document.documentElement.classList.add("dark");
        localStorage.setItem("color-theme", "dark");
        currentTheme.set("dark");
      }
    }
  });
</script>
