---
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
---

<div class="p-3 flex flex-row">
  <div class="flex gap-3 flex-col sm:flex-row">
    <div class="flex mr-1">
      <a
        class="border-b border-transparent hover:border-blue-900 dark:hover:border-white"
        href="/"
      >
        dbd blueprint:
      </a>
    </div>
    <div class="flex grow gap-3">
      <a
        class="border-b border-transparent hover:border-blue-900 dark:hover:border-white"
        href="/assets"
      >
        assets
      </a>
      <a
        class="border-b border-transparent hover:border-blue-900 dark:hover:border-white"
        href="/blueprints"
      >
        blueprints
      </a>
      <a
        class="border-b border-transparent hover:border-blue-900 dark:hover:border-white"
        href="/compositor"
      >
        compositor
      </a>
    </div>
  </div>
  <div class="ml-auto">
    {
      session ? (
        <a href="/users/@me">
          <img
            src={session.user?.image}
            class="w-7 h-7 rounded-full border-2 border-transparent hover:border-sky-800 dark:hover:border-sky-100"
          />
        </a>
      ) : (
        <a
          class="border-b border-transparent hover:border-blue-900 dark:hover:border-white ml-auto"
          href="/login"
        >
          log in
        </a>
      )
    }
  </div>
</div>
