---

---

<div class="p-3 flex gap-3 flex-col sm:flex-row">
  <div class="flex mr-1">
    <a
      class="border-b border-transparent hover:border-blue-900 dark:hover:border-white"
      href="/"
    >
      dbd blueprint:
    </a>
  </div>
  <div class="flex grow gap-3">
    <a
      class="border-b border-transparent hover:border-blue-900 dark:hover:border-white"
      href="/packs"
    >
      packs
    </a>
    <a
      class="border-b border-transparent hover:border-blue-900 dark:hover:border-white"
      href="/blueprints"
    >
      blueprints
    </a>
    <a
      class="border-b border-transparent hover:border-blue-900 dark:hover:border-white"
      href="/compositor"
    >
      compositor
    </a>
    <a
      class="border-b border-transparent hover:border-blue-900 dark:hover:border-white ml-auto"
      href="/users/@me"
    >
      profile
    </a>
  </div>
</div>
