---
import Base from "@layouts/Base.astro";
---

<Base title="blueprints">
  <h1 class="text-3xl mb-2">Blueprints (coming soon!)</h1>
  <p>
    Blueprints are a graphical way of setting up icon pack templates. They are a
    work in progress - for now you can use the <a
      href="/compositor"
      class="border-b-4">compositor</a
    > to compose icon packs using JSON templates.
  </p>
</Base>
