---
import Base from "@layouts/Base.astro";
---

<Base title="blueprints">
  <div class="format dark:format-invert format-sky">
    <h1>Blueprints (coming soon!)</h1>
    <p>
      Blueprints are a graphical way of setting up icon pack templates. They are
      a work in progress &mdash; for now you can use the
      <a href="/compositor">compositor</a> to compose icon packs using JSON
      templates.
    </p>
  </div>
</Base>
