---
import Nav from "@components/Nav.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Rubik:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-white dark:bg-sky-900 text-sky-800 dark:text-white">
    <Nav />
    <div class="container mx-auto p-3 pt-4">
      <slot />
    </div>
  </body>
</html>
