---
import Base from "@layouts/Base.astro";

import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);

if (!session) {
  return Astro.redirect("/login");
}
---

<Base title={session?.user?.name!}>
  <h1 class="text-3xl mb-3 font-bold">{session.user?.name}</h1>
  <img src={session.user?.image} />
</Base>
